{{#extend "stylesheets"}}
<link rel="stylesheet" href="public/css/styles.css"/>
<link rel="stylesheet" href="public/css/toastr.min.css"/>
{{/extend}}
<div id="content"></div>

<script src="{{{distBaseUrl}}}vendor.bundle.js"></script>
<script src="{{{distBaseUrl}}}frontend.js"></script>
{{#extend "scripts"}}
  <script src="public/js/custom.js"></script>
  <script src="public/js/toastr.min.js"></script>
{{/extend}}
